@use 'sass:math';

@mixin btn($bg-color: $tertiary) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    margin: $base-margin;
    border-radius: math.div($base-border-radius, 4);
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-md;
}

.btn {
    @include btn($tertiary);
    &:hover {
        background-color: lighten($tertiary, 5);
    }

    .btn-outlined {
        @include btn(white);
        border: $base-border-thickness solid $tertiary;
        &:hover {
            background-color: $tertiary;
        }
    }
}

.btn-adult{
    @include btn;
    width: 250px;
    &:hover {
        background-color: lighten($tertiary, 5);
    }

    .btn-outlined {
        @include btn(white);
        border: $base-border-thickness solid $tertiary;
        &:hover {
            background-color: $tertiary;
        }
    }
}