@use 'sass:math';

@mixin btn($bg-color: $tertiary) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding;
    // margin: $base-margin;
    border-radius: math.div($base-border-radius, 4);
    background-color: $bg-color;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-md;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn {
    @include btn($tertiary);
    &:hover {
        background-color: lighten($tertiary, 5);
        transform: scale(1.10);
    }

    .btn-outlined {
        @include btn(white);
        border: $base-border-thickness solid $tertiary;
        &:hover {
            background-color: $tertiary;
            transform: scale(1.10);
        }
    }
}

.btn-adult{
    @include btn;
    width: 175px;
    font-weight: normal;
    &:hover {
        background-color: lighten($tertiary, 5);
        transform: scale(1.10);
    }

    .btn-outlined {
        @include btn(white);
        border: $base-border-thickness solid $tertiary;
        &:hover {
            background-color: $tertiary;
            transform: scale(1.10);
        }
    }
}