@use 'sass:math';

.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $base-border-thickness solid $secondary;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 1);
    background-color: white;
    margin-right: $base-margin * 10;
    margin-left:  $base-margin * 10;
    margin-bottom: $base-margin * 2;
    transition: transform 0.3s ease-in-out;

    .card-text {
        padding: $base-padding;
        flex-grow: 1;
    }

    .card-title {
        font-size: $font-size-xl;
        font-weight: bold;
        color: $primary;
      }
    
    .card-overview {
        font-size: $base-font-size;
    }

    .card-info {
        font-size: $base-font-size;
    }

    // h1 {
    //     color: $primary;
    //     font-size: $font-size-xl;
    //     font-weight: bold;
    //     margin: auto;
        
    // }

    // .card-content {
    //     padding: $base-padding;
    //     flex: 1;
    // }

    // .card-title {
    //     font-size: $font-size-xl;
    //     font-weight: bold;
    //     margin-top: 0;
    //     justify-content: center;
    //     // margin-left: 1rem;
    //     color: $primary;
    // }

    // .card-body {
    //     font-size: $base-font-size;
    //     a {
    //         text-decoration: underline;
    //     }
    // }

    .poster-image {
        // width: 15%;
        height: auto;
        margin: 0.5rem;
        border-radius: math.div($base-border-radius, 2);
    }

    &:hover {
        transform: scale(1.05);
    }
}