.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  align-items: center;
  align-content: center;
  // justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-item {
  &:h2{
    align-self: center;
  }
}

.form-container.transformed {
  flex-direction: row;
  align-items: center;
  align-content: center;
}