@use 'sass:math';

$search-bar-background: #fff;
$search-bar-border: 1px solid #ccc;
$search-bar-placeholder-color: #999;
$search-bar-focus-border: 2px solid #007bff;

.search-bar {
  width: 100%;
  max-width: 400px;
  // margin: $base-margin;
  padding: $base-padding;
  border: $search-bar-border;
  border-radius: math.div($base-border-radius, 4);
  box-sizing: border-box;
  font-size: $font-size-md;
  font-family: 'Montserrat', sans-serif;
  // font-weight: bold;
  background-color: $search-bar-background;
  transition: transform 0.2s ease, background-color 0.2s ease;

    &::placeholder {
      color: $search-bar-placeholder-color;
    }

    &:focus {
      outline: none;
      border: $search-bar-focus-border;
      transform: scale(1.10);
    }

    &:hover{
      transform: scale(1.10);
    }
}