@use 'sass:math';

$slider-background: #007bff;
$slider-border: 2px solid white;
$slider-label-color: white;

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  display: flex;
  flex-direction: column;
  // opacity: 0.7;
  -webkit-transition: .2s;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s;

  input[type="range"] {
    width: 300px;
    min-width: 100px;
    // margin: $base-margin;
    // padding: $base-padding;
    // border: $slider-border;
    border-radius: math.div($base-border-radius, 1);
    box-sizing: border-box;
    background-color: $slider-background;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      background: white; // thumb color
      border-radius: math.div($base-border-radius, 1);

      &:focus {
        outline: none;
        transform: scale(1.10);
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      opacity: 1;
      & + label {
        color: black;
      }
      // transform: scale(1.10);
    }

    &:hover {
      opacity: 1;
      transform: scale(1.10);
    }
  }

  label {
    color: $slider-label-color;
    font-size: $font-size-lg;
    align-self: center;
    opacity: 100%;
  }
}
