@use 'sass:math';

$slider-border: 2px solid white;
$slider-label-color: white;

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  display: flex;
  flex-direction: column;
  // opacity: 0.7;
  -webkit-transition: .2s;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s;

  input[type="range"] {
    width: 300px;
    min-width: 100px;
    // margin: $base-margin;
    // padding: $base-padding;
    // border: $slider-border;
    border-radius: math.div($base-border-radius, 1);
    box-sizing: border-box;
    box-shadow: $darker-box-shadow;
    background-color: $tertiary;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 30px;
      height: 30px;
      background: white; // thumb color
      box-shadow: $darker-box-shadow;
      border-radius: math.div($base-border-radius, 1);

      &:focus {
        outline: none;
        transform: scale(1.10);
        background-color: lighten($tertiary, 5);

        label {
          color: black;
        }
      }

      &:hover {
        background-color: $secondary;
      }
    }

    &:focus {
      outline: none;
      background-color: lighten($tertiary, 5);
    }

    &:hover {
      opacity: 1;
      background-color: lighten($tertiary, 5);
      transform: scale(1.10) rotate(-2.5deg);
      box-shadow: 0 0 5px white;
    }

    &.transformed {
      width: 160px;
    }
  }

  label {
    color: $slider-label-color;
    font-size: $font-size-lg;
    align-self: center;
    opacity: 100%;
  }

  // &:focus-within {
  //   label {
  //     font-weight: bold;
  //   }
  // }
}
