$primary: #003566;

.h1.transformed {
    font-size: 2rem;
    margin-left: 1rem;
}

.h2-alt {
    color: $primary;
    margin-top: 8rem;
    font-size: 3rem;
    width: auto 100%;
    text-align: center;
}