// theme colors
$background-color: #e6f3ff;
$primary: #003566; // darker
$secondary: #0066cc; // lighter
$tertiary: #99ccff; // lightest

$dark-background-color: black;
$dark-primary: #cce6ff;
$dark-secondary: #4da6ff;

$navbar-color: #004d99;

// color palette
$colors: (
    "background-color": $background-color,
    "primary": $primary,
    "secondary": $secondary,
    "dark-background-color": $dark-background-color,
    "dark-primary": $dark-primary,
    "dark-secondary": $dark-secondary,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 2px;
$base-border-radius: 20px;

// box shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
$darker-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.15;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;