@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #e6f3ff;
  color: #003566;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 0.75rem;
  align-self: center;
}

h2 {
  color: white;
  font-size: 1.15rem;
  align-self: center;
  width: 100%;
}

a {
  color: #0066cc;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 2px solid #0066cc;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  margin: 0.75rem;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
  margin-top: 0rem;
  color: #003566;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.card.hover {
  transform: scale(1.1);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #99ccff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.btn:hover {
  background-color: #b3d9ff;
  transform: scale(1.1);
}
.btn .btn-outlined {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: 2px solid #99ccff;
}
.btn .btn-outlined:hover {
  background-color: #99ccff;
  transform: scale(1.1);
}

.btn-adult {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #99ccff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 175px;
  min-width: 50px;
  font-weight: normal;
}
.btn-adult:hover {
  background-color: #b3d9ff;
  transform: scale(1.1);
}
.btn-adult .btn-outlined {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: 2px solid #99ccff;
}
.btn-adult .btn-outlined:hover {
  background-color: #99ccff;
  transform: scale(1.1);
}

@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }
  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}
.shiny-button {
  margin: 1rem;
  background: #99ccff;
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 0.75rem 1.25rem;
  width: 175px;
  min-width: 50px;
  font-size: 1.15rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}
.shiny-button:hover {
  transform: scale(1.1) rotate(-2.5deg);
  color: white;
}
.shiny-button:hover::after {
  content: "";
  display: block;
  width: 175px;
  min-width: 50px;
  height: 175%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: 0;
  animation: shine 200ms linear;
  transform: translateX(250px) rotate(-25deg);
}

.shiny-search-button {
  margin: 1rem;
  background: #99ccff;
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 0.75rem 1.25rem;
  width: 175px;
  min-width: 50px;
  font-size: 1.15rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
  font-weight: bold;
}
.shiny-search-button:hover {
  transform: scale(1.1) rotate(-2.5deg);
  color: white;
}
.shiny-search-button:hover::after {
  content: "";
  display: block;
  width: 175px;
  min-width: 50px;
  height: 175%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: 0;
  animation: shine 200ms linear;
  transform: translateX(250px) rotate(-25deg);
}
.shiny-search-button.transformed {
  width: 150px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  display: flex;
  background: linear-gradient(to bottom right, #003566, #0066cc);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: height 1s ease;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}
.search-bar {
  width: 400px;
  min-width: 100px;
  padding: 0.75rem;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.search-bar::-moz-placeholder {
  color: #999;
}
.search-bar::placeholder {
  color: #999;
}
.search-bar:focus {
  outline: none;
  border: 2px solid #007bff;
  transform: scale(1.1);
}
.search-bar:hover {
  transform: scale(1.1) rotate(-2.5deg);
}
.search-bar.transformed {
  width: 190px;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s;
}
.slider input[type=range] {
  width: 300px;
  min-width: 100px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #99ccff;
  cursor: pointer;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.slider input[type=range]::-webkit-slider-thumb:focus {
  outline: none;
  transform: scale(1.1);
  background-color: #b3d9ff;
}
.slider input[type=range]::-webkit-slider-thumb:focus label {
  color: black;
}
.slider input[type=range]::-webkit-slider-thumb:hover {
  background-color: #0066cc;
}
.slider input[type=range]:focus {
  outline: none;
  background-color: #b3d9ff;
}
.slider input[type=range]:hover {
  opacity: 1;
  background-color: #b3d9ff;
  transform: scale(1.1) rotate(-2.5deg);
}
.slider input[type=range].transformed {
  width: 160px;
}
.slider label {
  color: white;
  font-size: 1.5rem;
  align-self: center;
  opacity: 100%;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  align-items: center;
  align-content: center;
}
.form-container.transformed {
  flex-direction: row;
  align-items: center;
  align-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.form-item:h2 {
  align-self: center;
}

.h1.transformed {
  font-size: 2rem;
  margin-left: 1rem;
}

.h2-alt {
  color: #003566;
  margin-top: 8rem;
  font-size: 3rem;
  width: auto 100%;
  text-align: center;
}

.h2-navbar {
  width: auto 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=index.css.map */